@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-6 ">
            <div class="border border-black border-opacity-10 border-3 shadow p-5 rounded-5 w-100">
                <div class="mb-5">
                    <h1 class="fw-bold text-capitalize">Chào mừng trở lại!</h1>
                    <p class="text-dark text-opacity-50">Vui lòng nhập Email và Password</p>
                    <hr />

                </div>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                            </p>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-primary fw-bold">Đăng nhập</button>
                    </div>            
                </form>
                <p class="my-3">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký tài khoản?</a>
                </p>
                <p class="divider-text d-flex my-4">
                    Hoặc
                </p>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                        <h3>Sử dụng dịch vụ khác để đăng nhập.</h3>
                            <p>
                                Chưa có dịch vụ đăng nhập khác..
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    var color = "";
                                    if (@provider.DisplayName == "Facebook")
                                    {
                                        color = "background: #3B5998;";
                                    }
                                    if (@provider.DisplayName == "Google")
                                    {
                                        color = "background: #EA4335;";
                                    }

                                    <button type="submit" class="w-100 btn p-2 my-2 " style="@color" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <h6 class="text-white ">@provider.DisplayName</h6>
                                    </button>
                                }
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
